!.gitkeep

data/

# Laravel, nodeJS, Bower, Gulp exclusions, Composer exclusions
.htaccess
vendor/
node_modules/
npm-shrinkwrap.json
bower_components/
bootstrap/compiled.php
bootstrap/cache/

/public/storage
/storage/*.key

composer.phar
composer.lock
phpunit.phar

public/assets
public/mix-manifest.json
/public/hot

.env
.env.*.php
.env.php
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.sass-cache

# IDE exclusions
.DS_Store
Thumbs.db
.idea
_ide_helper.php
.phpstorm.meta.php
*.sqlite
.rocketeer/
.env.testing
